{% extends "main.html" %}
{% block content %}

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<div class="row">
		<div class="col-md-4">
			{% if category.id == 1 %}
				<div class="kayaking-background category-container">
			{% elif category.id == 2 %}
				<div class="camping-background category-container">
			{% elif category.id == 3 %}
				<div class="rock-background category-container">
			{% elif category.id == 4 %}
				<div class="fishing-background category-container">
			{% elif category.id == 5 %}
				<div class="hiking-background category-container">
			{% elif category.id == 6 %}
				<div class="biking-background category-container">
			{% else %}
				<div class="category-container">
			{% endif %}
			</div>

			<div class="category-name">
				{{category.name}}
			</div>

			{% if category.user.id == session['user_id'] %}
				<div class="list-action">
					<a class="main-btn list-btn" href="{{url_for('editCategory', category_id = category.id )}}">Edit Category</a>
				</div>

				<div class="list-action">
					<a class="main-btn list-btn" href="{{url_for('deleteCategory', category_id = category.id )}}">Delete Category</a>
				</div>
			{% endif%}

			<div class="list-action">
				<a class="main-btn list-btn" href="{{url_for('newItem', category_id = category.id )}}">Add Item</a>
			</div>

			<figure class="creator">
				{% if category.user.picture %}
					<img class="creator-img" src="{{category.user.picture}}">
				{% else %}
					<img class="creator-img" src="static/img/logo.png">
				{% endif %}
				<figcaption class="creator-cap">{{category.user.name}}</figcaption>
			</figure>
		</div>

		<div class="col-md-8">
			{% if items !=[] %}
				{% for item in items %}
					<div class="col-md-6">
						<div class="item-container">
							<h3 class="item-name">{{item.name}}</h3>

							<hr class="item-hr">

							<p class="item-description">{{item.description}}</p>

							{% if item.user.id == session['user_id'] %}
								<div class="item-edit">
									<a class="edit-btn" href='{{url_for('editItem', category_id = category.id, list_id=item.id ) }}'>Edit</a>
									<a class="edit-btn" href='{{url_for('deleteItem', category_id = category.id, list_id=item.id ) }}'>Delete</a>
								</div>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
