{% extends "main.html" %}
{% block content %}

	<div class = 'flash'>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li> <strong> {{ message }} </strong> </li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</div>

	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<h1>New Category</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<form method="POST">
				<div class="form-group">

				<label for="name">Name:</label>
				<input type ="text" class="form-control" maxlength="100" name="name" placeholder="Enter name...">

				<button type="submit" class="main-btn form-btn" id="submit" type="submit">
					Create
				</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
